
#show-button{
    background-color: transparent;
    border: none;
    color: rgb(255, 72, 72)
}

#login-button {
    background-color: rgb(255, 72, 72);
    border-color: rgb(255, 72, 72);
}

.vl {
    border-left: 1px solid white;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}