div.portal{
    height: 100%;
}

#login-modal {
    display: flex;
    position: fixed;
    height: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    background-color: black;
    z-index: 100
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    background-color: black;
    z-index: 100
}

button#show-button{
    background-color: transparent;
    border: none;
    color: rgb(255, 72, 72);
    font-size: xx-small;
    margin-left: 107px;
}


#close-modal{
    top: 0;
    position: fixed;
    color: white;
    font-size: xx-large;
    z-index: 100;
    left: 90%;
    cursor: pointer;
}

.vl {
    border-left: 1px solid rgb(55,55,55);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

#forgot-password{
    font-size: xx-small;
    cursor: pointer;
    color: grey;
}

#login{
    margin-right: 22px;
}

#demo-login{
    margin-top: 28px;
}

#login-right{
    margin-left: 80px;
}