.user-tickets-body-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.user-tickets-body-layout{
    justify-content: center;
    display: flex;
    background-color: #131313;
}


.ticket-index-columns{
    display: flex;
}

.ticket-index-items{
    display: flex;
    border-top: 1px solid grey;
    padding-top: 30px;
    padding-bottom: 30px;
}