.show-layout-1{
    display: flex;
    height: 280px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.2) ;
    color: white
}

.show-layout-2{
    display: flex;
    height: 340px;
    justify-content: center;
    background-color: rgba(0,0,0,.5) ;
}
.event-show-background{
    height: inherit;
    width: inherit;
    opacity: 70%;   
    filter:blur(10px);
    z-index: -1
}

.event-show-basic-info{
    height: 50%;
    width: 100%
}

.event-show-ticketing-info{
    height:50%;
    width: 100%;
}
.show-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 200%;
}

#event-show-small-flag-icon{
    height: 12px;

}

.event-show-details-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



#event-show-interested{
    margin-top: 10px;
}