html{
    height: 100%;
}

body {
    height: inherit;   
    font-family: AlternateGothicProCyrillic, sans-serif;
    overflow: scroll;
}

li {
    list-style-type: none;
}

.portal{
    height: inherit;
}

.errors{
    display: none;
}

/* div{
    border: 1px solid red;
} */

h1{
    font-size: xx-large;
    margin-bottom: 30px;
    line-height: 1.1;
}

h2{
    font-size: 2em;
}

h3{
    font-size: large;
    margin-bottom: 15px;
    font-weight: bold;
}

p {
    word-wrap: normal;
}

textarea{
    border-radius: 20px;
    background-color: #F2F2F2;
    border: none;
    height: 16vh;
    margin-bottom: 10px
}

select{
    border: none;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    size: 4;
    height: 36px;
    width: 186.4px;
    margin-right: 20px; 
}

select.selected{
    background-color: #F2F2F2;
}


.big-text{
    font-size: 5em;
}

.medium-text {
    font-size: 2em;
}

.small-text{
    font-size: .7em;
}
.container {
    width: 1180px;
    /* border: 1px solid red; */
    height: 100%;
    display:flex;
}

.content-header{
    display:flex;
    flex-direction: column-reverse;
}

.column {
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    
}

.button {
    cursor: pointer;
    border-radius: 20px;
    border-style: solid;
    font-family: AlternateGothicProCyrillic, sans-serif;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 12px;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 38px;
}

.link {
    text-decoration: none;
    color: #666666
}

.link:hover{
    color: rgb(255, 72, 72);
}

button > img,
button > span {
  vertical-align: middle;
}

.red-button{
    background-color: rgb(255, 72, 72);
    border-color: rgb(255, 72, 72);
    color: white;
}

.red-button:hover{
    background-color: #666666;
    border-color: #666666;
    color: black
}

.transparent-button{
    background-color: transparent;
    border-color: rgb(255, 72, 72);
    color: white;
}

.transparent-button:hover{
    background-color: rgb(255, 72, 72);

}

.white-button{
    border-color: rgb(255, 72, 72);
    color: black;
}
.white-button:hover{
    background-color: rgb(255, 72, 72);
    color: white
}

.black-button{
    border-color: rgb(255, 72, 72);
    background-color: black;
    color: white
}

.black-button:hover{
    background-color:rgb(255, 72, 72)
}

.form-input {
    height: 36px;
    align-items: center;
    display: flex;
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0px 20px;
    background-color: #F2F2F2;
    border: 1px solid transparent;
    color: black;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.form-label{
    font-size: 11px;
    letter-spacing: .05em;
    margin-bottom: 4px; 
}

.grey-text{
    color: #F2F2F2;
}

.dark-text {
    color: #666666;
}

.white-text {
    color: white
}

.red-text {
    color:rgb(255, 72, 72)
}

.stack {
    display: flex;
    flex-direction: column;
}

.errors{
    color:rgb(255, 72, 72);
    margin-bottom: 25px;
}

.genre-div{
    margin-top: 45px;
    margin-left: 20px;
}